blockquote p {
  margin-top: 0;
}
.intro-header {
  box-shadow: inset 10px 10px 100px 100px rgba(0,0,0,0.5);
}
.post-heading h1,
.post-heading .meta {
  text-shadow: 1px 1px 2px black;
}
.share-button {
    margin: 0px;
    padding: 5px 10px 5px 10px;
    opacity: 0.9;
}
.share-button:hover {
    opacity: 1;
}

.fa-facebook-official {
  color: #3b5998
}

.fa-twitter {
  color: #00aced;
}

.fa-linkedin {
  color: #007bb6;
}

.fa-google-plus {
  color: #dd4b39;
}

.fa-reddit {
  color: #FF4500;
}

.fa-envelope {
  color: #444444;
}
