{{ define "main" }} {{ partial "page-title.html" . }}

<section class="uk-margin-large-bottom">
  <div class="uk-container">
    {{ range .Data.Pages.ByPublishDate.Reverse }}

    <div class="uk-margin-medium-bottom">
      <a href="{{.Permalink | relURL}}" style="text-decoration: none">
        <div class="uk-card uk-card-default uk-width-1@m">
          <div class="card-body">
            <div class="uk-card-header">
              <div class="uk-grid-small uk-flex-middle" uk-grid>
                <div class="uk-width-expand">
                  <h2 class="uk-margin-remove-bottom">{{.Title}}</h2>

                  <p class="uk-text-meta uk-margin-remove-top">
                    <time datetime="{{.Date}}"
                      >{{.Date.Format "Jan 2, 2006"}}</time
                    >
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
    {{end}}
  </div>
</section>

{{ end }}
